<h3>Trivia</h3>
<div *ngFor='let q of triviaQuestions' class='m-5'> 
  <h6><i>{{q.category}}</i></h6>
  <p class='lead'>{{q.question}}</p>
  <!-- <a class="btn btn-primary">{{q.correct_answer}}</a>
  <a class="btn btn-info" *ngFor='let incorrect of q.incorrect_answers'>
    {{incorrect}}
  </a> -->
  <div class='btn-toolbar' style='margin: auto;'>
    <button type="button" (click)='checkAnswer(answer, q)' class="btn btn-outline-primary m-1" *ngFor="let answer of q.answers">
      {{answer}}
    </button>
  </div>
  <!-- <p style="color:green;" *ngIf="q.correct">Correct!!</p>
  <p style="color:red;" *ngIf="q.incorrect">Incorrect!</p> -->
  <p style="color:green;" 
    [style.visibility]="q.answered?'':'hidden'"
    [style.color]="q.correct?'green':'red'">
    {{q.correct?"Correct!!":"Incorrect!"}}
  </p>
  
  <br />
</div>
<!-- 
<button (click)='log()'>Click</button> -->
<br />
<!-- <a  class='btn btn-primary' href='/trivia'>New Questions</a> -->
<button type='button' class='btn btn-primary' (click) = 'reset()'>New Questions</button>
<br />
<br />
