
<br />

<div style='text-align: center;' class='m-1'>
  <button type='button' class='btn btn-outline-info' (click)='reset()'>Get Random Scripture</button>
</div>

<p [style.visibility]="message === 'correct'?'':'hidden'"> {{scripture.reference}}</p>
<h3 *ngIf='scripture' [ngClass]='getScriptureClasses()'> {{scripture.text}}</h3>

<p [style.visibility]="answered?'':'hidden'">{{message}}</p>

<div style='display: block;text-align: center;'>
  
<button type='button' class='btn btn-outline-info m-1' [ngClass]='getButtonClasses()' *ngFor='let book of pagebooks' (click)='checkScripture(book)' >{{book}}</button>

<br/>
<!-- <input type='text' [(ngModel)]='gameMode.answerCount' value='4' /> -->
</div>
